<html
    xmlns='http://www.w3.org/1999/xhtml'
    xmlns:v='urn:schemas-microsoft-com:vml'
    xmlns:o='urn:schemas-microsoft-com:office:office'
>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='x-ua-compatible' content='ie=edge' />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <title>Konect Hub</title>
    </head>
    <body style="background-image: url('https://images.wallpapersden.com/image/download/abstract-shapes-2021-minimalist_bG1lZm6UmZqaraWkpJRmbmdmrWZlbWY.jpg');">
        <div style="padding: 156px 171px 16px 171px;">
            <div style="background-image: linear-gradient(141.39deg, rgba(255, 255, 255, 0.66) 8.32%, rgba(255, 255, 255, 0.69) 89.97%); padding: 47px 120px; border-radius: 12px;">
                <h1 style="text-align: center;">Konect Hub</h1>
                <h1 style="color: #2D014B; font-family: 'Inter', sans-serif; font-weight: 700; font-size: 28px; text-align: center;">Lupa Kata Sandi</h1>
                <p style="color: #8A6F9C; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 16px; text-align: center;">Kami telah menerima permintaan Anda untuk mereset kata sandi. Silahkan klik tautan di bawah ini untuk mengatur kata sandi baru</p>
                <div style="margin: 40px 0;">
                    <a href="{{verificationLink}}">
                        <button style="background-color: #2D014B; font-family: 'Inter', sans-serif; padding: 16px 24px 16px 24px; border-radius: 12px; text-decoration: none; color: #FFFFFF; width: 100%">Reset Kata Sandi</button>
                    </a>
                </div>
                <p style="color: #8A6F9C; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 16px; text-align: center;">Jika itu bukan Anda yang meminta mereset, harap abaikan email ini</p>
            </div>
            <div style="padding: 47px 120px; border-radius: 12px;">
                <div>
                    <p style="color: #9E83B0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 14px; text-align: center;">Jika Anda memiliki pertanyaan atau komentar, silakan hubungi kami di</p>
                    <p style="color: #9E83B0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 14px; text-align: center;">[alamat email atau nomor telepon]</p>
                </div>
                <div style="margin-top: 20px">
                    <p style="color: #9E83B0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 14px; text-align: center;">Alamat Kantor kami:</p>
                    <p style="color: #9E83B0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 14px; text-align: center;">[Alamat kantor]</p>
                </div>
                <div style="margin-top: 20px">
                    <p style="color: #9E83B0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 14px; text-align: center;">[Tautan ke akun media sosial]</p>
                </div>
                <div style="margin-top: 20px">
                    <p style="color: #9E83B0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 14px; text-align: center;">Copyright © 2023 Konect. Seluruh hak cipta dilindungi undang-undang.</p>
                </div>
            </div>
        </div>
    </body>
</html>