<html>

<head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Konect Hub</title>
    <style>
        .box {
            font-family: 'Inter', sans-serif;
            padding: 50px;
            margin: 50px;
            border-radius: 20px;
            text-align: center;
        }

        .bg-white {
            background: rgba(255, 255, 255, 0.8);
        }

        .color-1 {
            color: #2D014B;
        }
        .color-2 {
            color: #8A6F9C;
        }

        .normal {
            font-weight: 500;
        }

        .bold {
            font-weight: 700;
        }
    </style>
</head>

<body style="background-image: url('https://images.wallpapersden.com/image/download/abstract-shapes-2021-minimalist_bG1lZm6UmZqaraWkpJRmbmdmrWZlbWY.jpg');">
    <div class="box bg-white">
        <h2 class="">Konect Hub</h1>
            <h1 class="color-1">Kode Verifikasi</h1>
            <p class="color-2">Kami telah menerima permintaan Anda untuk daftar di konect. Silahkan salin kode verifikasi di bawah ini untuk lanjut ketahap berikutnya</p>
            <h2 class="color-1 bold">{{verificationCode}}</h2>
            <p class="color-2">Jika itu bukan anda, harap abaikan email ini</p>
    </div>
    <div class="box color-2">
        <p>Jika Anda memiliki pertanyaan atau komentar, silakan hubungi kami di </p>
        <p>[alamat email atau nomor telepon]</p>
        <p>Alamat Kantor kami: </p>
        <p>[Alamat kantor]</p>
        <p>[Tautan ke akun media sosial]</p>
        <p>Copyright © 2023 Konect. Seluruh hak cipta dilindungi undang-undang.</p>
    </div>
</body>

</html>